@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
h1,
h2,
h3,
h4,
h5,
p,
li,
ol,
ul,
div,
span,
small,
table,
i,
b {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}
body {
  color: rgb(var(--foreground-rgb));

  p {
    padding: 0px 0px 20px 0px;
    line-height: 1.5;
  }
  .tile {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    h2 {
      font-size: 150%;
    }
    ul {
      li {
        list-style-type: circle;
        list-style-position: inside;
        margin: 10px 0px 10px 20px;
      }
    }
  }
}
