@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
h1,
h2,
h3,
h4,
h5,
p,
li,
ol,
ul,
div,
span,
small,
table,
i,
b {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}
body {
  color: rgb(var(--foreground-rgb));
  p {
    padding: 0px 0px 20px 0px;
    line-height: 1.5;
  }
  .tile {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    h2 {
      font-size: 150%;
    }
    ul {
      li {
        list-style-type: circle;
        list-style-position: outside;
        margin: 10px 0px 10px 40px;
        line-height: 1.5;
      }
    }
  }
  .curtain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blurBar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      line-height: 1;
      padding: 0px;
      margin: 0px;
      text-shadow: #000 2px 2px 2px;
      font-size: 150%;
    }
  }
  .parallax-container {
    position: relative;
    /*  this is where the magic happens:  */

    background-attachment: fixed;
    background-size: cover;

    /* dimensions are important, ensure it is tall enough to scroll */
    height: 450px;

    /* you are free to lay out the container items with flexbox or whatever means you wish */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
